<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Predictivo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="w3-container" style="background-color: #9c9c9c">
    <div>
        <input type="text" name="url"><br>
    </div>
    <div>
            <form action="/guardar_text" method="POST">
                <p>
                    <input type="text" name="text" id="text"><br>
                </p>
                <p>
                    <input class="boton" type="submit" value="Guardar">
                </p>
            </form>
    </div>
    <div>
        <p></p>
    </div>
</body>
</html>