<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      hr{ 
        border:         none;
        border-left:    1px solid hsla(200, 10%, 50%,100);
        height:         100vh;
        width:          1px;       
      }
    </style>
</head>
<body class="w3-container" style="background-color: #9c9c9c">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Dashboard</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/predictive">Predictive</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Stadistics</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container" style="padding: 50px;">
        <form>
            <div class="form-group">
                    <label for="url">URL</label>
                    <input class="form-control" type="text" name="url" id="url">
            </div>
            <div class="form-group">
                    <label for="txt">Txt</label>
                    <input class="form-control" type="text" name="txt" id="txt">
            </div>
            <br>
            <p>
                <!--Aqui va los datos arrojados por el modelo-->

            </p>
            <br>


        </form>

        <div id="root"></div>
</body>

<!--<script src="https://unpkg.com/react@16.8.6/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16.8.6/umd/react-dom-server.browser.development.js"></script>-->
<script type="text/javascript">
    import React from "react";
    import ReactDOM from "react-dom";

    

    function App() {
    return (
        <div className="App">
        <h1>Hello CodeSandbox</h1>
        <h2>Start editing to see some magic happen!</h2>
        </div>
    );
    }

    const rootElement = document.getElementById("root");
    ReactDOM.render(<App />, rootElement);
</script>
</html>